.port-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5rem;
}
.port-item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 0.35s ease-in-out;
}
.port-item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.port-item-img {
  border-radius: 1.5rem;
  overflow: hidden;
}
.port-item h3 {
  margin: 1.2rem 0 2rem;
}
.port-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
